.board {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.cell {
  flex-basis: calc(100% / 8);
  height: calc(100% / 8);
  background-repeat: no-repeat;
  background-size: contain;
}

.cell:hover {
  cursor: pointer;
}

.cell--white {
  background-color: #fff;
}

.cell--black {
  background-color: #A9A9A9;
}

.cell--origin {
  background-color: pink;
}

.cell--b-r {
  background-image: url('assets/blackRook.png');
}

.cell--b-kn {
  background-image: url('assets/blackKnight.png');
}

.cell--b-b {
  background-image: url('assets/blackBishop.png');
}

.cell--b-q {
  background-image: url('assets/blackQueen.png');
}

.cell--b-k {
  background-image: url('assets/blackKing.png');
}

.cell--b-p {
  background-image: url('assets/blackPawn.png');
}

.cell--w-r {
  background-image: url('assets/whiteRook.png');
}

.cell--w-kn {
  background-image: url('assets/whiteKnight.png');
}

.cell--w-b {
  background-image: url('assets/whiteBishop.png');
}

.cell--w-q {
  background-image: url('assets/whiteQueen.png');
}

.cell--w-k {
  background-image: url('assets/whiteKing.png');
}

.cell--w-p {
  background-image: url('assets/whitePawn.png');
}