.board {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.cell {
  flex-basis: calc(100% / 8);
  height: calc(100% / 8);
  background-repeat: no-repeat;
  background-size: contain;
}

.cell:hover {
  cursor: pointer;
}

.cell--white {
  background-color: #fff;
}

.cell--black {
  background-color: #A9A9A9;
}

.cell--origin {
  background-color: pink;
}

[data-player=b][data-unit=r] {
  background-image: url('assets/blackRook.png');
}

[data-player=b][data-unit=kn] {
  background-image: url('assets/blackKnight.png');
}

[data-player=b][data-unit=b] {
  background-image: url('assets/blackBishop.png');
}

[data-player=b][data-unit=q] {
  background-image: url('assets/blackQueen.png');
}

[data-player=b][data-unit=k] {
  background-image: url('assets/blackKing.png');
}

[data-player=b][data-unit=p] {
  background-image: url('assets/blackPawn.png');
}

[data-player=w][data-unit=r] {
  background-image: url('assets/whiteRook.png');
}

[data-player=w][data-unit=kn] {
  background-image: url('assets/whiteKnight.png');
}

[data-player=w][data-unit=b] {
  background-image: url('assets/whiteBishop.png');
}

[data-player=w][data-unit=q] {
  background-image: url('assets/whiteQueen.png');
}

[data-player=w][data-unit=k] {
  background-image: url('assets/whiteKing.png');
}

[data-player=w][data-unit=p] {
  background-image: url('assets/whitePawn.png');
}